.donation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border: 2px solid;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}



i.fas {
    font-size: 1.5em;
}


/*
** Styles on mobile & tablet
*/
@media (max-width: 569px) {

    .donation-button {
        border-radius: 100%;
        padding: 1rem; 
    }

    .donation-button-text {
        display: none;
    }

    .icon-box {
        margin-right: 0;
        width: 100%;
        height: 100%;
    }

}
