#icon-picker {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    border: 1px solid;
    padding: 0.5rem;
    max-width: 800px;
    border-radius: 10px;

    i {
        cursor: pointer;
        margin: 0.3rem;
        font-size: 1.2em;
        
        &.selected {
            border: 2px solid #000;
        }
    }
}

