.donation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border: 2px solid;
    
    .box-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;

        i {
            display: flex;
            
            &.button-icon:before {
                width: auto;
                margin: 0;
            }
        }
    }
}
    
/*
** Styles on mobile & tablet
*/
@media (max-width: 569px) {

    .donation-button {
        border-radius: 100%;
        
        &-text {
            display: none;
        }
        
        .box-icon {
            margin-right: 0;

            i {
                padding: 0.5rem 0;
            }
        }
    }

}
